#wrapper {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

figure > img {
  margin: 1em auto;
  display: block;
}

figure {
  margin: 1em 0em;
}

figcaption {
  margin: 0em 1em 1em;
}

.page-header a {
  color: #333;
}

div.post {
  margin-bottom: 5em;
}

.h_iframe {
  position: relative;
}

.h_iframe img.ratio {
  display: block;
  width: 100%;
  height: auto;
  margin: 0px;
}

.h_iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

span.proof {
  display: block;
  border-left: 4px solid #888;
  padding-left: 0.5em;
  margin: 0.5em 0em 1em 0.1em;
}

span.proof:after {
  content: "\00a0\00a0\00a0\00a0\220E";
}

