---
title: Classics
permalink: refs/classics.html
layout: page
---
<h5>Computer Graphics</h5>
<ul>
{%- for post in collections.refs | selectclassics("computer-graphics") -%}
<li><a href="{{ post.url | url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>

<h5>Computer Science</h5>
<ul>
{%- for post in collections.refs | selectclassics("computer-science") -%}
<li><a href="{{ post.url | url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>

<h5>Data Science and Machine Learning</h5>
<ul>
{%- for post in collections.refs | selectclassics("data-science") -%}
<li><a href="{{ post.url | url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>

<h5>Information Theory</h5>
<ul>
{%- for post in collections.refs | selectclassics("information-theory") -%}
<li><a href="{{ post.url | url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>

<h5>Numerical Analysis</h5>
<ul>
{%- for post in collections.refs | selectclassics("numerical-analysis") -%}
<li><a href="{{ post.url | url }}">{{ post.title }}</a></li>
{%- endfor -%}
</ul>
