---
title: References
layout: page
---
<div class="ref-list">
  {%- for post in collections.refs -%}
  <div class="ref-card">
    <div class="ref-title"><a href="{{ post.url | url }}">{{ post.title }}</a></div>
    <div class="ref-meta">{{ post.data.authors | shortAuthors }}{% if post.data.date %}, {{ post.data.date | refReadableDate }}{% endif %}</div>
    {%- if post.data.tags -%}
    <div class="ref-tags">
      {%- for tag in post.data.tags %}<span class="label">{{ tag }}</span>{%- endfor -%}
    </div>
    {%- endif -%}
  </div>
  {%- endfor -%}
</div>
