---
permalink: feed.xml
---
{%- set updates = collections.updates | head(50) -%}
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.feed.subtitle }}</subtitle>
  <link href="{{ metadata.feed.url }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ updates | rssLastUpdatedDate }}</updated>
  <id>{{ metadata.feed.id }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  {%- for update in updates %}
  {% set absolutePostUrl %}{{ update.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <id>{{ absolutePostUrl }}</id>
    <updated>{{ update.date | dateToRfc3339 }}</updated>
    <title>{{ update.title }}</title>
    <content type="html">{{ update.data.plainHtml }}</content>
  </entry>
  {%- endfor %}
</feed>
