---
layout: page
includeMeLinks: true
---
<img src="/media/janmr.jpg" alt="Portrait of Jan Marthedal Rasmussen" width="500" height="500" style="max-width:200px;">
<p>Personal website of Jan Marthedal Rasmussen, on mathematics and computer science.</p>
<p>See <a href="/feed/">recent updates</a>, <a href="/posts/">posts</a>, or <a href="/me/">about me</a>.</p>
