---
title: janmr.com
layout: page
---
<h1>janmr.com</h1>

<div class="update-list">
  {%- for update in collections.updates | reverse -%}
  <p>
    {{ update.date | refHtmlDateString }} {{ update.content | safe }}
  </p>
  {%- endfor -%}
</div>
