---
permalink: /blog/tags/
layout: blog-page
---
<h2>Tags</h2>

{% for tag in collections.tagList | sort %}
  {% set tagUrl %}/blog/tags/{{ tag }}/{% endset %}
  <a class="label" href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
{% endfor %}