---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - post
permalink: /blog/tags/{{ tag }}/
layout: blog-page
---
<h2>Posts tagged <em>{{ tag }}</em></h2>

<div class="post-list">
{% for post in collections[tag] | reverse -%}
  <h5>
    <a href="{{ post.url | url }}">{{post.data.title}}</a> <small>{{ post.date | readableDate }}</small>
  </h5>
{%- endfor %}
</div>
