{% extends "layouts/base.njk" %}
{% block head -%}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css">
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/prismjs@1.20.0/themes/prism.css">
<link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
{%- endblock %}
{% block content -%}
<main>
    {{ content | safe }}
</main>
{%- endblock %}