---
layout: layouts/blog-page.njk
---
<h2>{{ title }}<br>
    <small>
        <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    </small>
</h2>
<div class="post-tags">
    {% for tag in tags | excludeElement("post") %}
        <a class="label" href="/blog/tags/{{tag}}">{{tag}}</a>
    {% endfor %}
</div>
<div class="post-body">
    {{ content | safe }}
</div>
{#<div class="page-navigation">
    <div class="prev-post">
        {{#if next }}
            <a href="/{{next.path}}" title="Previous post: {{next.title}}">&laquo;
                {{{next.title}}}</a>
        {{/if}}
    </div>
    <div class="next-post">
        {{#if previous }}
            <a href="/{{previous.path}}" title="Next post: {{previous.title}}">{{{previous.title}}}
                &raquo;</a>
        {{/if}}
    </div>
</div>#}