---
title: Curriculum Vitae
layout: page
---
<div style="float:right">
    <div style="text-align:right">
        <a href="https://github.com/janmarthedal/">
            <svg style="width: 1.5em" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12"/></svg>
        </a>
        <a class="print-no" href="https://www.linkedin.com/in/janmr/">
            <svg style="width: 1.5em" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="1.414"><path d="M13.632 13.635h-2.37V9.922c0-.886-.018-2.025-1.234-2.025-1.235 0-1.424.964-1.424 1.96v3.778h-2.37V6H8.51v1.04h.03c.318-.6 1.092-1.233 2.247-1.233 2.4 0 2.845 1.58 2.845 3.637v4.188zM3.558 4.955c-.762 0-1.376-.617-1.376-1.377 0-.758.614-1.375 1.376-1.375.76 0 1.376.617 1.376 1.375 0 .76-.617 1.377-1.376 1.377zm1.188 8.68H2.37V6h2.376v7.635zM14.816 0H1.18C.528 0 0 .516 0 1.153v13.694C0 15.484.528 16 1.18 16h13.635c.652 0 1.185-.516 1.185-1.153V1.153C16 .516 15.467 0 14.815 0z" fill-rule="nonzero"/></svg>
        </a>
    </div>
    <div class="print-only" style="position:relative; top:-0.5em; font-family:monospace; font-size:80%">janmarthedal</div>
</div>
<address>
    <strong>Jan Marthedal Rasmussen</strong><br/>
    Tureby, Denmark<br/>
    <a href="mailto:jan@janmr.com">jan@janmr.com</a>
</address>

<p style="margin-top:1.5em">Ph.D. in applied mathematics with 20 years of software engineering across simulation, backend,
  and full-stack development. I'm drawn to the interplay of theory and practice — taking on hard
  problems, turning them into useful products, and continually sharpening my craft along the way.</p>

<h3>Employment</h3>

<ul>
    <li>
        <h4>Senior Backend Engineer @ <a href="https://enity.io">Enity</a> <small>Aug&nbsp;2025&ndash;</small></h4>
        <p>I am part of a team responsible for the company's backend architecture.
          The system handles large volumes of readings (mainly electricity, heat and water consumption) along with
          weather data, CO₂ emission factors, cost prices, as well as many other types of data.<br>
          Working on scaling the system to handle growing data volumes while continually improving the pipelines for
          extracting, aggregating, and analyzing data — delivering insights that can be trusted and bring value.<br>
          I have been the main developer and maintainer of one of our central data extraction and
          aggregation services.<br>
          Using TypeScript for service code, Python for data science.
          Primarily PostgreSQL, S3 and DynamoDB for storage, GitHub for code/CI/CD,
          and AWS for cloud hosting and computing.
        </p>
    </li>
    <li>
        <h4>Senior Simulation and Modelling Engineer @ <a href="https://resolvent.com">resolvent</a> <small>Aug&nbsp;2024&ndash;Jul&nbsp;2025</small></h4>
        <p>Involved in the development of simulation models, the analysis and interpretation of results,
          and the development of stand-alone simulation applications for democratization
          (stand-alone simulation applications so non-specialists can run analyses themselves).<br>
          Worked with products such as COMSOL Multiphysics and OpenRadioss. Programming in Java,
          Python and JavaScript. I created an interactive simulation app that was used by students at
          <a href="https://dtu.dk">DTU</a>.</p>
    </li>
    <li>
        <h4>Senior Software Engineer @ EnergiData (now <a href="https://enity.io">Enity</a>) <small>Jan&nbsp;2018&ndash;Jul&nbsp;2024</small></h4>
        <p>Part of a team responsible for the company's DevOps, microservices and data ingestion.<br>
          Chief architect of several core services (Node.js) for extracting, processing and computing data.
          Central resource when designing and implementing new features involving technical engineering concepts.
          Involved in data ingestion projects (performance/scaling), web application maintenance (C#) and
          a bit of frontend feature development (Vue.js).</p>
    </li>
    <li>
        <h4>Full-stack Developer @ <a href="https://www.hifishark.com">HifiShark</a>
          <small>Jun&nbsp;2016&ndash;Oct&nbsp;2017</small></h4>
        <p>Worked on the whole stack from configuring Nginx web servers, maintaining docker images,
          writing web scrapers (Java), writing web services (Node.js), maintaining web application (PHP),
          maintaining frontend using Backbone.js (JavaScript).</p>
    </li>
    <li>
        <h4>Full-stack Developer @ Design Science (now a part of <a href="https://www.wiris.com">Wiris</a>)
          <small>Sep&nbsp;2014&ndash;May&nbsp;2016</small></h4>
        <p>Worked on open source project aiming to present mathematics in a unified way in browsers (JavaScript, MathML).
          Created prototypes demonstrating how to build a web editor around the company's existing products (SVG, REST, JavaScript).
          Central player in implementing new website for the company (Django, HTML, CSS).
          (Worked remote.)</p>
    </li>
    <li>
        <h4>Principal Software Engineer @ Kapow Software <small>Oct&nbsp;2012&ndash;Aug&nbsp;2014</small></h4>
        <p>Added custom functionality to our own fork of the Webkit/Qt code base (C++).
          Implemented new functionality and fixed bugs in the company's main product (Java).
          Developed and maintained existing JavaScript/Backbone.js code base.</p>
    </li>
    <li>
        <h4>Software Engineer @ <a href="https://www.syosil.com">SyoSil</a> <small>May&nbsp;2011&ndash;Sep&nbsp;2012</small></h4>
        <p>SyoSil does FPGA/ASIC design and verification solutions.<br>
          Worked mainly on extracting information from VHDL source code using a combination of a
          Python framework and a C++ parser.</p>
    </li>
    <li>
        <h4>Teaching assistant @ <a href="http://www.dtu.dk/english">DTU</a> <small>Sep&nbsp;2010&ndash;Jun&nbsp;2011</small></h4>
        <p>Responsible for a class of students for the course Advanced Engineering Mathematics&nbsp;1
          at the Department of Mathematics.</p>
    </li>
    <li>
        <h4>Software Developer @ <a href="http://tractrac.com">TracTrac</a> <small>May&nbsp;2006&ndash;May&nbsp;2011</small></h4>
        <p>Worked on improving and maintaining the company's real-time GPS tracking server and client,
          including backend computations and server-client communication. All coding was done in Java.</p>
    </li> {#
    <li>
        <h4>Software Developer @ <a href="http://www.mobilepeople.com">Mobile People</a> <small>Mar&nbsp;2006&ndash;Apr&nbsp;2006</small></h4>
        <p>Part of a small team where we should tackle presenting web pages on cell phones.
          I worked on preprocessing web page layout server-side (Java). I was only there a little while, however,
          since I got the opportunity to work for TracTrac.</p>
    </li> #}
    <li>
        <h4>Software Developer @ <a href="http://www.netop.com">Netop</a> <span style="display:none">(previously Danware Data)
          </span><small>Nov&nbsp;2004&ndash;Oct&nbsp;2008</small></h4>
        <p>Responsible for creating a new desktop sharing solution for Linux.
          Worked with numerous raster graphics methods/algorithms. All code in C++.</p>
    </li>
</ul>

<h3>Education</h3>

<ul>
  <li>
      <h4>Ph.D. in Applied Mathematics, <a href="http://www.dtu.dk/english">DTU</a> <small>2001&ndash;2004</small></h4>
      <p>Thesis: Boundary Control of Linear Evolution PDEs - Continuous and Discrete<span class="print-no"> (<a href="https://www2.imm.dtu.dk/pubdb/pubs/3379-full.html">available online</a>)</span>.</p>
      </li>
  <li>
      <h4>Master of Science in Engineering, <a href="http://www.dtu.dk/english">DTU</a> <small>1995&ndash;2001</small></h4>
      <p>Thesis: Krylov Subspace Methods for Linear Compact Operators<span class="print-no"> (<a href="https://www2.imm.dtu.dk/pubdb/pubs/468-full.html">available online</a>)</span>.</p>
    </li>
</ul>
