---
title: About me
layout: new-page
---
<p>My name is Jan Marthedal Rasmussen.</p>

<p>
  Some online profiles:
  <a rel="me" href="https://bsky.app/profile/janmr.com">Bluesky</a>,
  <a rel="me" href="https://www.facebook.com/jan.marthedal">Facebook</a>,
  <a rel="me" href="https://github.com/janmarthedal">GitHub</a>,
  <a rel="me" href="https://www.linkedin.com/in/janmr">LinkedIn</a>,
  <a rel="me" href="https://mathstodon.xyz/@janmr">Mastodon</a>,
  <a rel="me" href="https://twitter.com/janmarthedal">Twitter</a>.
</p>
