---
title: References
layout: blog-page
---
<div>
  {%- for post in collections.reference | sortByTitle -%}
  <h5>
    <a href="{{ post.url | url }}">{{ post.data.title }}</a></small>
  </h5>
  {%- endfor -%}
</div>
