<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>janmr.com{% if title %} | {{ title }}{% endif %}</title>
    <link rel="icon" type="image/png" href="/icon-48x48.png">
    <link rel="canonical" href="{{ url | url }}">
    <link rel="alternate" href="{{ metadata.feed.url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {% block head -%}
    {%- endblock %}
  </head>
  <body>
    {% block content -%}
    {{ content | safe }}
    {%- endblock %}
    {% block bodyend -%}
    {%- if metadata.environment == "production" -%}
    <script data-goatcounter="https://janmr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {%- endif -%}
    {%- endblock %}
  </body>
</html>
