<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>janmr.com{% if title %} | {{ title }}{% endif %}</title>
    <link rel="icon" type="image/png" sizes="16x16" href="/icon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="/icon-48x48.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/icon-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/svg+xml" href="/icon.svg">
    <link rel="canonical" href="{{ url | url }}">
    <link rel="alternate" href="{{ metadata.feed.url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {% block head -%}
    {%- endblock %}
  </head>
  <body>
    {% block content -%}
    {{ content | safe }}
    {%- endblock %}
    {% block bodyend -%}
    {%- if metadata.environment == "production" -%}
    <script data-goatcounter="https://janmr.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
    {%- endif -%}
    {%- endblock %}
  </body>
</html>
