<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="/icon-48x48.png">
    <link rel="alternate" href="{{ metadata.feed.url | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    {% block head -%}
    {%- endblock %}
  </head>
  <body>
    {% block content -%}
    {{ content | safe }}
    {%- endblock %}
    {% block bodyend -%}
    {%- if environment.eleventy_env == "production" -%}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ environment.ga_tracking_id }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ environment.ga_tracking_id }}');
    </script>
    {%- endif -%}
    {%- endblock %}
  </body>
</html>