{{> header}}
<div id="wrapper">
    <h1>janmr.com</h1>

    <p>My name is Jan Marthedal Rasmussen and this is my home on the web.</p>

    <p>You can find me on the web in numerous places, some of which are:</p>

    <ul>
        <li><a href="https://www.facebook.com/jan.marthedal" rel="me">Facebook</a></li>
        <li><a href="https://github.com/janmarthedal" rel="me">GitHub</a></li>
        <li><a href="https://plus.google.com/+JanMarthedalRasmussen" rel="me">Google Plus</a></li>
        <li><a href="https://www.linkedin.com/in/janmr" rel="me">LinkedIn</a></li>
        <li><a href="https://twitter.com/janmarthedal" rel="me">Twitter</a></li>
    </ul>
  
    <p>Once in a while, I sit down and write a new post for <a href="/blog/">my blog</a>. The latest posts are:</p>

    <ul class="post-list">{{#each latestPosts}}
        <li><a href="/{{path}}">{{{title}}}</a> <small>{{ formatDate this.date }}</small></li>{{/each}}
    </ul>

    <p>I <a href="/work/">work as a freelancer</a> and I am available for hire.</p>
</div>
{{> footer}}