{% extends "base.njk" %}
{% block head -%}
{%- if useKaTeX -%}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/katex@0.16.7/dist/katex.min.css">
{% endif -%}
{%- if usePrism -%}
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/prismjs@1.20.0/themes/prism.css">
{% endif -%}
<link rel="stylesheet" href="{{ '/css/styles.css' | url }}">
{%- endblock %}
{% block content -%}
<header>
  <img src="/janmr-logo.png">
</header>
<main>
  <div class="content">
    <div class="main">
      {% if title -%}
      <h1>{{ title }}</h1>
      {%- endif %}
      {{ content | safe }}
    </div>
    <div class="sidebar">
      <p>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32 32">
            <circle cx="2" cy="4" r="2"></circle>
            <circle cx="2" cy="12" r="2"></circle>
            <circle cx="2" cy="20" r="2"></circle>
            <circle cx="2" cy="28" r="2"></circle>
            <rect x="8" y="2" width="24" height="4"></rect>
            <rect x="8" y="10" width="24" height="4"></rect>
            <rect x="8" y="18" width="24" height="4"></rect>
            <rect x="8" y="26" width="24" height="4"></rect>
          </svg>
        </span>
        <a href="/">Updates</a>
      </p>
      <p>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-text" viewBox="0 0 16 16">
            <path d="M5.5 7a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1zM5 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m0 2a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
            <path d="M9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.5zm0 1v2A1.5 1.5 0 0 0 11 4.5h2V14a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1z"/>
          </svg>
        </span>
        <a href="/posts/">Posts</a>
      </p>
      <p>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-flask-fill" viewBox="0 0 16 16">
            <path d="M11.5 0a.5.5 0 0 1 0 1H11v5.358l4.497 7.36c.099.162.16.332.192.503l.013.063.008.083q.006.053.007.107l-.003.09q-.001.047-.005.095-.006.053-.017.106l-.016.079q-.012.049-.028.096l-.028.086a1.5 1.5 0 0 1-.17.322 1.5 1.5 0 0 1-.395.394q-.04.028-.082.054-.045.026-.095.049l-.073.035-.09.033q-.05.02-.103.034-.04.01-.08.017-.053.012-.108.021l-.006.002-.202.013H1.783l-.214-.015a1.503 1.503 0 0 1-1.066-2.268L5 6.359V1h-.5a.499.499 0 0 1-.354-.854A.5.5 0 0 1 4.5 0zm.5 12a.5.5 0 0 0 0 1h1.885l-.61-1zm-1-2a.5.5 0 0 0 0 1h1.664l-.612-1zm-1-2a.5.5 0 0 0 0 1h1.441l-.61-1zM9 6a.5.5 0 0 0 0 1h1.22l-.147-.24A.5.5 0 0 1 10 6.5V6zm0-2a.5.5 0 0 0 0 1h1V4zm0-2a.5.5 0 0 0 0 1h1V2z"/>
          </svg>
        </span>
        <a href="/lab/">Lab</a>
      </p>
      <p>
        <span class="icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
          </svg>
        </span>
        <a href="/me/">Me</a>
      </p>
      <p>
        <span class="icon">
          <svg viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fillrule="evenodd" cliprule="evenodd" strokelinejoin="round" strokemiterlimit="1.414">
            <path d="M12.8 16C12.8 8.978 7.022 3.2 0 3.2V0c8.777 0 16 7.223 16 16h-3.2zM2.194 11.61c1.21 0 2.195.985 2.195 2.196 0 1.21-.99 2.194-2.2 2.194C.98 16 0 15.017 0 13.806c0-1.21.983-2.195 2.194-2.195zM10.606 16h-3.11c0-4.113-3.383-7.497-7.496-7.497v-3.11c5.818 0 10.606 4.79 10.606 10.607z"/>
          </svg>
        </span>
        <a href="https://feeds.feedburner.com/janmr-blog">Feed</a>
      </p>
      <footer>
        <p class="text-muted">Copyright Jan Marthedal Rasmussen © 2025</p>
      </footer>
    </div>
  </div>
</main>
{%- endblock %}
