---
layout: blog-page
---
<h2>{{ title | fixLineBreaks | safe }}<br>
  <small>
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </small>
</h2>
<div class="post-tags">
  {%- for tag in data.tags -%}
    <a class="label" href="/blog/tags/{{tag}}">{{tag}}</a>
  {%- endfor -%}
</div>
<div class="post-body">
  {{ content | safe }}
</div>
<div class="post-note">
  Commenting is not possible for this post, but feel free to leave a question,
  correction or any comment by using the <a href="/contact/">contact page</a>
</div>
<div class="page-navigation">
  <div class="prev-post">
    {%- if data.prevPost -%}
      <a href="{{ data.prevPost.url | url }}" title="Previous post: {{ data.prevPost.title }}">&laquo;
        {{ data.prevPost.title }}</a>
    {%- endif -%}
  </div>
  <div class="next-post">
    {%- if data.nextPost -%}
      <a href="{{ data.nextPost.url | url }}" title="Next post: {{ data.nextPost.title }}">{{ data.nextPost.title }}
        &raquo;</a>
    {%- endif -%}
  </div>
</div>