---
layout: blog-page
---
<h2>{{ title | fixLineBreaks | safe }}<br>
  <small>
    <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
  </small>
</h2>
<div class="post-tags">
  {%- for tag in data.tags -%}
    <span class="label">{{tag}}</span>
  {%- endfor -%}
</div>
<div class="post-body">
  {{ content | safe }}
</div>
{%- if data.mastodon -%}
<div class="post-note">
  Feel free to leave any question, correction or comment in this
  <a href="{{data.mastodon}}">Mastodon thread</a>.
</div>
{%- endif -%}
