---
layout: blog-page
---
<p>Title: {{ title }}</p>

{%- for author in data.authors -%}
  <p>Author: {{ author }}</p>
{%- endfor -%}

{%- if data.date -%}
<p>Date: <time datetime="{{ data.date | refHtmlDateString }}">{{ data.date | refReadableDate }}</time></p>
{%- endif -%}

{%- if data.isbn -%}
<p>ISBN: <a href="https://en.wikipedia.org/wiki/Special:BookSources?isbn={{ data.isbn }}">{{ data.isbn }}</a></p>
{%- endif -%}

<div class="post-body">
  {{ content | safe }}
</div>

{%- if backlinks -%}
<p>Posts linking to this reference:</p>
<ul>
  {%- for post in backlinks | sort(attribute='title') -%}
  <li><a href="{{ post.url | url }}">{{ post.title }}</a></li>
  {%- endfor -%}
</ul>
{%- endif -%}
