---
layout: blog-page
---
<h2>{{ title }}</h2>

{%- if data.authors | length == 1 -%}
<p><b>Author</b>: {{ data.authors[0] }}</p>
{%- else -%}
<p><b>Authors</b>: {{ data.authors | join(", ") }}</p>
{%- endif -%}

{%- if data.date -%}
<p><b>Date</b>: <time datetime="{{ data.date | refHtmlDateString }}">{{ data.date | refReadableDate }}</time></p>
{%- endif -%}

{%- if data.journal -%}
<p><b>Journal</b>: {{ data.journal }}</p>
{%- endif -%}

{%- if data.isbn -%}
<p><b>ISBN</b>: <a href="https://en.wikipedia.org/wiki/Special:BookSources?isbn={{ data.isbn }}">{{ data.isbn }}</a></p>
{%- endif -%}

<div class="post-body">
  {{ content | safe }}
</div>

{%- if data.links -%}
Links:
<ul>
  {%- for link in data.links -%}
  <li><a href="{{ link.url }}">{{ link.name }}</a>{% if link.about %} {{ link.about | safe }}{% endif %}</li>
  {%- endfor -%}
</ul>
{%- endif -%}

{%- if backlinks -%}
Posts linking to this reference:
<ul>
  {%- for post in backlinks | sort(attribute='title') -%}
  <li><a href="{{ post.url | url }}">{{ post.title }}</a></li>
  {%- endfor -%}
</ul>
{%- endif -%}
