---
layout: page
title: Feed
pagination:
  data: collections.updates
  size: 50
---
<p>
This page contains my <a href="https://en.wikipedia.org/wiki/Microblogging">microposts</a>,
which primarily consist of links and observations that I find interesting.
I usually cross-post to other social media, but I like to own them and have them here as the true source.
You can find the latest updates as an <a href="{{ metadata.feed.url }}">Atom feed</a> as well.
</p>
<p style="text-align: center; margin: 1em 0; color: #999; letter-spacing: 0.5em;">&bull; &bull; &bull;</p>
<ul class="update-list">
  {%- for update in pagination.items -%}
  <li>
    <div class="update-content">
      {{ update.content | safe }}
    </div>
    <div class="update-footer">
      Published
      <time datetime="{{ update.date | dateToISO }}">{{ update.date | refHtmlDateString }}</time>
      {% if update.data.crossPosting -%}
      on
      {%- if update.data.crossPosting.bluesky %}
      <a href="{{ update.data.crossPosting.bluesky }}">Bluesky</a>
      {%- endif -%}
      {%- if update.data.crossPosting.mastodon %}
      <a href="{{ update.data.crossPosting.mastodon }}">Mastodon</a>
      {%- endif -%}
      {%- endif %}
    </div>
  </li>
  {%- endfor -%}
</ul>

<nav class="pagination-nav">
{% if pagination.href.prev -%}
  <a href="{{ pagination.href.prev | url }}" aria-label="Previous page">&larr; Previous</a>
{%- endif %}
{% if pagination.href.next -%}
  <a href="{{ pagination.href.next | url }}" class="pagination-next" aria-label="Next page">Next &rarr;</a>
{%- endif %}
</nav>
