---
title: Posts
layout: new-page
---
<div class="post-list">
  {%- for post in collections.posts | reverse -%}
  <h5>
    <a href="{{ post.url | url }}">{{ post.title }}</a> <small>{{ post.date | readableDate }}</small>
  </h5>
  {%- endfor -%}
</div>
