<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/syntax.css">
    {% if page.posttype == "wp" %}<style>
      .mthi { font-family: MathJax_Math; font-style: italic; font-size: 135%; }
      .mthn, .mths, .mtho { font-family: MathJax_Main; font-size: 135%; }
      div.sputproof { border-left: 4px solid #888; padding-left: 0.5em; margin: 0em 0em 1em 0.1em; }
      span.sputcode { font-size:1.1em; font-family:monospace; }
    </style>{% endif %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ["\\(","\\)"] ],
          displayMath: [ ["\\[","\\]"] ],
        },
        "HTML-CSS": {
          scale: 90
        },
      });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10">
          <div class="page-header">
            <h1><a href="/">{{ site.name }}</a></h1>
          </div>
          {{ content }}
          <hr>
          <footer>
            &copy; 2014 Jan Marthedal Rasmussen
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
