---
title: janmr.com
layout: page
---
<h1>janmr.com</h1>

<p>This is the website of Jan Marthedal Rasmussen.</p>

<p>Some online profiles:
    <a href="https://www.facebook.com/jan.marthedal" rel="me">Facebook</a>,
    <a href="https://github.com/janmarthedal" rel="me">GitHub</a>,
    <a href="https://www.linkedin.com/in/janmr" rel="me">LinkedIn</a>,
    <a href="https://twitter.com/janmarthedal" rel="me">Twitter</a>.</p>

<p><a href="/blog/">A blog</a> on mathematics and computer programming.</p>

<p><a href="/lab/">The lab</a> contains some tools and demos.</p>